.left.login {
  width: 58%;
  padding: 5%;

  display: flex;
  flex-direction: column;
}

.right.login {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
