.left.register {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right.register {
  width: 58%;
  padding: 5%;

  display: flex;
  flex-direction: column;
}
