.initial-page__header {
  width: 100%;
  padding: 0 0 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initial-page__header div {
  display: flex;
  align-items: center;
}

.alert__login-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
