.login__form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.login__form__input {
  padding: 1.6rem;
  font: normal 600 1.6rem 'Raleway';
  border: 1px solid #000;
  margin-bottom: 10px;
}

.login__form__input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.login__form__input::placeholder {
  color: rgb(134, 134, 134);
  font-weight: 500;
  font-size: 1.4rem;
}
