.main__header {
  width: 100%;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #3d3535;
  font: normal 900 5.2rem 'Montserrat';
}

.logo strong {
  font-weight: 900;
  color: #cc3300;
}
